#footer {
	background-color: #333;
	padding: 2.5rem 10rem;
	margin-top: 9.5rem;

	.social-links {
		display: flex;
		justify-content: center;
		a {
			align-items: center;
			width: 10rem;
			height: 2.4rem;
			font-size: 2.2rem;
			color: #fff;
			transition: all 0.2s ease-in;
			&:hover {
      			transform: translateY(-2px);
    		}
		}
	}
	hr {
		margin: 1rem auto;
    	border: 0;
    	width: 30%;
    	border-top: 2px solid grey;
	}
	.footer-text {
		color: gray;
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	#footer {
	background-color: #333;
	padding: 2.5rem 5rem;
	margin-top: 8rem;

	.social-links {
		display: flex;
		justify-content: center;
		a {
			align-items: center;
			width: 20vw;
			height: 5vw;
			font-size: 4vw;
			color: #fff;
			transition: all 0.2s ease-in;
			&:hover {
      			transform: translateY(-2px);
    		}
		}
	}
	hr {
		margin: 1rem auto;
    	border: 0;
    	width: 40%;
    	border-top: 2px solid grey;
	}
	.footer-text {
		color: gray;
		font-size: 0.5vw;
	}
}
}
