#main {
	height: 100vh;
	color: #272341;
	font-weight: 400;
	padding: 0rem 10rem;
	display: flex;
	align-items: center;

	.main-title {
		font-size: 4vw;
		font-weight: 700;
		margin: 0;
		text-align: left;

		.text-color {
			color: #02aab0;
		}
	}
	animation: fadeIn 1s ease 0.6s 1 normal backwards;
	@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
	}
}

// media for tablet
@media screen and (min-width: 600px) and (max-width: 1024px) {
	#main {
		padding: 0rem 5rem;
		justify-content: center;

		.main-title {
			font-size: 5vw;
			text-align: center;
		}
	}
}

//media for smartphone
@media screen and (max-width: 599px) {
	#main {
		padding: 0rem 0.5rem;
		justify-content: center;

		.main-title {
			font-size: 5vw;
			text-align: center;
		}
	}
}
