#project {
	height: 100%;
	padding: 0rem 10rem;
	margin-top: 9.5rem;
	color: #272341;

	h2 {
		animation: fadeup 1s ease 0.3s 1 normal backwards;
		font-size: 2.5rem;
	}
	#project-body {
		animation: fadeup 1s ease 0.7s 1 normal backwards;
		p {
			font-size: 1.2rem;
		}
	}
}
