#skill {
	height: 100%;
	padding: 0rem 10rem;
	margin-top: 9.5rem;
	color: #272341;

	h2 {
		font-size: 2.5rem;
	}

	#skills-body {
		display: flex;
		justify-content: space-evenly;

		h3 {
			text-align: center;
		}
		.front {
			text-align: left;
			img {
				height: 3.3rem;
			}
		}
		.back {
			text-align: left;
			img {
				height: 3.3rem;
			}
		}
		.other {
			text-align: left;
			img {
				height: 3.3rem;
			}
		}
	}
}
